<!DOCTYPE html>
<html>
<head>
    <title>简单主页</title>
</head>
<body>
    <header>
        <h1>欢迎来到我的网站</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="/login">登录</a></li>
            <li><a href="/register">注册</a></li>
        </ul>
    </nav>

    <main>
		输入跳转题号(p xxxxx):<input type="text" id="PID"><br>
		<input type="submit" onclick="goto_problem()">
    </main>

    <footer>
        <p>&copy; 2023 我的网站</p>
    </footer>
</body>

<script>
	function goto_problem(){
		window.location.href = "problem/"+document.getElementById("PID").value;
	}
</script>

</html>
